body {
	background-image: url(fon2.jpg);
	background-repeat: no-repeat repeat;
	background-size: 100%;
}
body p{
	width: 400px;
	border: 3px solid black;
	padding: 3%;
	font-family:Arial;
	font-size: 24px;
	background-color: #CCFFCC;
	margin-right: 30vw;
}
.rightimg{
	float:right;
	margin-left: 10vw;
}
.header{
	text-align: center;
}